.slider-container {
    padding: 40px;
    // background: #60ce40;
    max-height: 370px;
    margin-bottom: 50px;
  }
  
//   .slick-slide {
//     img {
//         margin: auto;
//         // height: 100%;
//     }
// }
  